body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.head1{
    font-size:50px;
    border-left: 5px solid tomato;
    border-radius: 5px;
    margin-top: 120px;
    padding-left: 10px;
    
}
.head2{
    text-align:center;
    font-size: 40px;
}
.head3{
    font-size:40px;
}
.head4{
    
    font-size:35px;
}
span{
    color:orange;
}
.new{
    color:tomato;
    
}
.button1{
    text-decoration: none;
    font-size:20px;
    color:white;
    background-color:tomato;
    padding: 10px 40px;
    border-radius:5px;
}
small {
    font-size:15px;
}
p{
    font-size:20px;
}
.section1{
    display: flex;
    margin-left: 80px;
}
.section2{
    display: flex;
    margin-top: 50px;
    width: 90%;
    margin-left:50px;
}
.section3{
    display: flex;
    margin-left: 80px;
    margin-top: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position: left;
    background-size:250px;
    
}
.section4{
    display: flex;
    margin-left: 80px;
    margin-top: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-size:250px;
    background-position: right top 180px;
    height:450px;
   
}
.section5{
    display: flex;
    background-image: url(images/shapes/shape-6.png);
    height: 300px;
    margin-left: 165px;
    margin-top: 80px;
}
.div1{
    width: 50%;
    
}
.div12{
    margin-left:50px;
}
.div13{
    
}
.div15{
    width: 50%;
    padding-bottom: 20px;
    padding-right: 30px;
}
.div15 img{
    width: 50%;
    margin-left:-100px;
}
.div1 img{
    width: 50%;
    margin-left:100px;
}
.div11 img{
    width: 50%;
}
.div3{
    width:80%;
    margin-left: 50px;
    padding:20px 50px;

}
.div3 img{
    width:150px;
}
.div9{
    width:50%;
}
.div9 img{
    width:120%;
    margin-left:-100px;
}
.div10{
    margin-left:80px;
    
}
.div3img{
    background-color: lightblue;
    border-radius: 30px;
}
.div4img{
    background-color:gray;
    border-radius: 30px;
}
.div5img{
    background-color:bisque;
    border-radius: 30px;
}
.div6img{
    margin-left: 85px;
    width:150%;
    
    
}
.div6{
    width:500px;
}
.div7{
    width:500px;
}
.div9{
    margin-left: 350px;
    width:40%;
    
}
.div8{
    margin-left:-400px;
    margin-right:70px;
}

footer{
    background-color: black;
    height:200px;
    
}
footer h1{
    font-family: 'Oswald', sans-serif;
    font-family: 'Vujahday Script', cursive;
    margin-top:100px;
    text-align:center;
    color:white;
    margin-top: 30px;

}
footer p{
    text-align:center;
    font-size:15px;
    color:white;
    height:80px;
    margin-top:10px;
    
    
}
.fspan{
    color:red;
}
.foot{
    padding-top:20px;
}